$grisoscuro:#463f3a;
$grismedio:#8a817c;
$grisclaro:#8a8883; 
$hueso:#f4f3ee;
$amarillo:#ffc800;
$color5:rgba(79, 72, 49, 0.6);


@mixin apariencia ($font-size, $font-weight, $padding, $color, $text-transform){
  font-size: $font-size;
  font-weight: $font-weight;
  padding-top: $padding;
  color: $color;
  text-transform: $text-transform;
}


.bodyCafe{
  background-image: url("fondocafe2.jpg");
  height:100%;
  background-repeat: no-repeat;
  background-size: cover;
   

   .intro{
    h2{
        @include apariencia (1.6rem, lighter, 5%, $grisclaro, uppercase);
        font-family: "montserrat";
        text-align: center;
        text-shadow: 2px 2px 3px;
    }
    
   }

  .containerCafes{
    margin-bottom: 4vw;
    padding: 5vw;
    justify-content: space-around;
    align-items: center;
    
    .tipo{
      background-color: rgba(255,255,255, 0.5);
      margin:2vw;
      box-shadow: 3px 3px 6px black;
      animation-name: animacion;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 3s;
      animation-delay: 0s;

      h3{
        animation-name: animacion;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 2s;
        animation-delay: 2s;
      }
      }
      .tipo1{
      background-color: rgba(255,255,255, 0.5);
      margin:2vw;
      box-shadow: 3px 3px 6px black;
      animation-name: animacion;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 3s;
      animation-delay: 1s;

     
      }
    }
  }

@keyframes animacion {
 0% {
    opacity: 0;
    transform: translateY(-100vw) skewX(70deg);
  }
  60% {
    opacity: 1;
    transform: skewX(-20deg);
  }
  80% {
    transform: skewX(15deg);
  }
}
  
