$grisoscuro:#463f3a;
$grismedio:#8a817c;
$grisclaro:#8a8883; 
$hueso:#f4f3ee;
$amarillo:#ffc800;
$color5:rgba(79, 72, 49, 0.6);


@mixin apariencia ($font-size, $font-weight, $padding, $color, $text-transform){
  font-size: $font-size;
  font-weight: $font-weight;
  padding-top: $padding;
  color: $color;
  text-transform: $text-transform;
}

  .intro{
    h2{
      @include apariencia (1.6rem, normal, 5%, $grisclaro, uppercase);
      font-family: "montserrat";
      text-align: center;
      text-shadow: 2px 2px 3px;
    }
    
  }
 
  .containerCafes {
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 4vw;
    padding: 5vw;
    justify-content: space-around;
    align-items: center;
 
    .flipCard {
      background-color: transparent;
      width: 30%;
      height: 26vw;
      perspective: 1000px;
      margin: 4vw 1vw;

      .flipCardInner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow:8px 6px 10px rgba(0,0,0,0.5);

        .flipCardFront, .flipCardBack {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
        }
        .flipCardFront {
          background-color: black;
          color: white;

          h3{
            font-size: 1.8vw;
            font-family: "montserrat";
            letter-spacing: 1vw;
          }
        }
        .flipCardBack {
          background-color: black;
          color: $grisclaro;
          transform: rotateY(180deg);
          text-align: center;
          padding: 2vw 1vw;

          p{
            @include apariencia(2vw, light, 0.5vw, $hueso, none);
          }
        }
      } 
    }
  }

  .flipCard:hover .flipCardInner {
    transform: rotateY(180deg); 
  }

@media screen and (max-width: 768px) {
  .flipCard{
    min-width: 40%;
    min-height: 35vw;
    padding: 1vw;    
  }
   
  .flipCard:hover .flipCardInner {
    transform: rotateY(180deg) scale(1.45);
  }
}